.signup, .login{
    font-size:22px;
    font-weight:500;
}

.signup{
    background-color:#55ffaa;
}

.login{
    background-color: rgb(83, 172, 255);
}

.modalButton{
    background-color: rgb(127, 204, 255);
    color: black;
    font-weight:500;
    border-radius: 8px;
    height:25%;
}