.notification{
    background-color: rgb(233, 240, 244);
    border: 2px solid gray;
    width:inherit;
    font-size:22px;
    margin: 4px 4px;
    padding:5px;
}

.notification:hover{
    cursor:pointer;
    background-color: rgb(227, 227, 227);
}

.notArea{
    overflow-x:hidden;
    overflow-y:scroll;
}